@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.header {

    .head {
        .head_inner {
            width: 800px;
            height: 100px;
            margin: auto;
            position: relative;

            h1 {
                float: left;
                width: 180px;
                margin: 26px 30px 26px 0;

                a {
                    display: block;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .search {
            float: left;
            margin-top: 26px;
            position: relative;

            form {

                select {
                    float: left;
                    width: 110px;
                    height: 40px;
                    font-size: 14px;
                }

                .section {
                    float: left;
                    width: 370px;
                    height: 40px;
                    padding: 0 60px 0 10px;
                    border: 2px solid #4070ff;
                    position: relative;

                    input[type='text'] {
                        float: left;
                        width: 300px;
                        margin-top: 6px;
                        font-size: 16px;
                        outline: none;
                    }

                    input[type='submit'] {
                        width: 58px;
                        height: 100%;
                        background: url('https://img.icons8.com/material/24/000000/search.png') no-repeat center center;
                        position: absolute;
                    }
                }
            }
        }

        .link_main {
            position: absolute;
            top: 5px;
            left: 10px;
        }
    }

    .service {
        border-top: 1px solid #f1f3f6;
        border-bottom: 1px solid #888;

        .service_inner {
            width: 1000px;
            height: 70px;
            margin: auto;

            ul {
                display: table;
                margin: auto;

                li {
                    float: left;
                    height: 70px;

                    a {
                        display: block;
                        height: 70px;
                        margin: 0 20px;
                        padding-top: 5px;

                        img {
                            display: block;
                            width: 40px;
                            margin: auto;
                        }

                        span {
                            display: block;
                            margin-top: 1px;
                            text-align: center;
                            font-size: 14px;
                            font-family: 'Noto Sans JP', sans-serif;
                        }
                    }
                }
            }
        }
    }
}

.container {
    background-color: #f1f3f6;
    overflow: hidden;
    margin-bottom: 100px;
    .container_inner {
        width: 1000px;
        height: 500px;
        margin: 10px auto 0;
        .column_left {
            float: left;
            .theme_news {
                width: 690px;
                // background-color: #4070ff;
                .tab {
                    overflow: hidden;
                    li {
                        float: left;
                        padding: 10px;
                        border-top: 1px solid #dee3eb;
                        border-right: 1px solid #dee3eb;
                        background: #fff;
                    }
                    li:first-child {
                        border-left: 1px solid #dee3eb;
                    }
                }
                .contents {
                    background-color: #fff;
                    border: 1px solid #dee3eb;
                    .top {
                        position: relative;
                        a {
                            img {
                                width: 690px;
                                height: 286px;
                            }
                            h3 {
                                width: 40%;
                                line-height: 1.6;
                                color: #fff;
                                font-size: 22px;
                                font-weight: bold;
                                position: absolute;
                                top: 70px;
                                right: 13px;
                            }
                            h3:hover {
                                text-decoration: underline;
                            }
                        }
                        ul {
                            display: table;
                            margin: 10px auto;
                            li {
                                float: left;
                                width: 137px;
                                margin-right: 20px;
                                img {
                                    display: block;
                                    margin: auto;
                                    width: 137px;
                                    height: 85px;
                                }
                                span {
                                    display: block;
                                    margin-top: 5px;
                                    text-align: center;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                            li:last-child {
                                margin-right: 0;
                            }
                            li:hover span {
                                text-decoration: underline;
                            }
                            li:hover img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .top:before {
                        content: '';
                        width: 45%;
                        height: 286px;
                        background: rgba(0,0,0,0.4);
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .bottom {
                        margin: 20px 0;
                        overflow: hidden;
                        .left {
                            margin-right: 20px;
                        }
                        .right {
                        }
                        div {
                            float: left;
                            width: 304px;
                            margin: 0 20px;
                            ul {
                                li {
                                    padding: 10px 0;
                                    border-top: 1px solid #dee3eb;
                                    a {
                                        display: block;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                li:hover a {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .ad {
                width: 690px;
                height: 95px;
                margin: 10px 0;
                border: 1px solid #dee3eb;
                background-color: #fff;
                font-size: 13px;
                position: relative;
            }
            .recommend {
                width: 690px;
                padding: 15px 0;
                border: 1px solid #dee3eb;
                background-color: #fff;
            }
        }
        .column_right {
            float: left;
            margin-left: 10px;
            .subject {
                width: 300px;
                height: 200px;
                background-color: #fff;
                border: 1px solid #dee3eb;
                ul {
                    width: 100%;
                    li {
                        float: left;
                        width: 50%;
                        height: 50px;
                        border-bottom: 1px solid #f1f3f6;
                        a {
                            display: block;
                            height: 50px;
                            text-align: center;
                            span {
                                line-height: 46px;
                                text-align: center;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .login {
                width: 300px;
                margin-top: 10px;
                padding: 10px;
                background-color: #fff;
                border: 1px solid #dee3eb;
                input[type='text'] {
                    width: 200px;
                    padding: 6px;
                    background-color: #f1f3f6;
                }
                button {
                    margin-left: 5px;
                    padding: 6px;
                    text-align: center;
                    background-color: #4070ff;
                    color: #fff;
                }
                ul {
                    display: table;
                    margin: auto;
                    margin-top: 5px;
                    li {
                        float: left;
                        margin-right: 15px;
                        position: relative;
                        a {
                            color: #999;
                            font-size: 11px;
                        }
                        a:hover {
                            color: #4070ff;
                        }
                    }
                    li:first-child:before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background-color: #ddd;
                        position: absolute;
                        top: 2px;
                        right: -8px;
                    }
                }
            }
            .ad {
                width: 300px;
                height: 185px;
                margin-top: 10px;
                border: 1px solid #dee3eb;
                background-color: #fff;
                font-size: 12px;
                position: relative;
            }
            .trending {
                width: 300px;
                margin-top: 10px;
                padding: 15px;
                background-color: #fff;
                border: 1px solid #dee3eb;
                h2 {
                    margin-bottom: 15px;
                    font-weight: bold;
                }
                ul {
                    li {
                        margin-left: 15px;
                        margin-bottom: 5px;
                        a {
                            .num {
                                display: inline-block;
                                margin-right: 10px;
                                padding: 5px;
                                background: #4070ff;
                                color: #fff;
                                font-size: 14px;
                            }
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                    li:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/*공통*/

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.ad:before {
    content: 'AD';
    padding: 5px;
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}