@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
.header .head .head_inner {
  width: 800px;
  height: 100px;
  margin: auto;
  position: relative;
}

.header .head .head_inner h1 {
  float: left;
  width: 180px;
  margin: 26px 30px 26px 0;
}

.header .head .head_inner h1 a {
  display: block;
}

.header .head .head_inner h1 a img {
  width: 100%;
}

.header .head .search {
  float: left;
  margin-top: 26px;
  position: relative;
}

.header .head .search form select {
  float: left;
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.header .head .search form .section {
  float: left;
  width: 370px;
  height: 40px;
  padding: 0 60px 0 10px;
  border: 2px solid #4070ff;
  position: relative;
}

.header .head .search form .section input[type='text'] {
  float: left;
  width: 300px;
  margin-top: 6px;
  font-size: 16px;
  outline: none;
}

.header .head .search form .section input[type='submit'] {
  width: 58px;
  height: 100%;
  background: url("https://img.icons8.com/material/24/000000/search.png") no-repeat center center;
  position: absolute;
}

.header .head .link_main {
  position: absolute;
  top: 5px;
  left: 10px;
}

.header .service {
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #888;
}

.header .service .service_inner {
  width: 1000px;
  height: 70px;
  margin: auto;
}

.header .service .service_inner ul {
  display: table;
  margin: auto;
}

.header .service .service_inner ul li {
  float: left;
  height: 70px;
}

.header .service .service_inner ul li a {
  display: block;
  height: 70px;
  margin: 0 20px;
  padding-top: 5px;
}

.header .service .service_inner ul li a img {
  display: block;
  width: 40px;
  margin: auto;
}

.header .service .service_inner ul li a span {
  display: block;
  margin-top: 1px;
  text-align: center;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  background-color: #f1f3f6;
  overflow: hidden;
  padding-bottom: 50px;
}

.container .container_inner {
  width: 1000px;
  height: 500px;
  margin: 10px auto 0;
}

.container .container_inner .column_left {
  float: left;
}

.container .container_inner .column_left .theme_news {
  width: 690px;
}

.container .container_inner .column_left .theme_news .tab {
  overflow: hidden;
}

.container .container_inner .column_left .theme_news .tab li {
  float: left;
  padding: 10px;
  border-top: 1px solid #dee3eb;
  border-right: 1px solid #dee3eb;
  background: #fff;
}

.container .container_inner .column_left .theme_news .tab li a {
  display: block;
}

.container .container_inner .column_left .theme_news .tab li:first-child {
  border-left: 1px solid #dee3eb;
}

.container .container_inner .column_left .theme_news .contents {
  background-color: #fff;
  border: 1px solid #dee3eb;
  border-top: none;
}

.container .container_inner .column_left .theme_news .contents > div {
  display: none;
}

.container .container_inner .column_left .theme_news .contents #tab1 {
  display: block;
}

.container .container_inner .column_left .theme_news .contents .top > a {
  display: block;
  position: relative;
}

.container .container_inner .column_left .theme_news .contents .top > a img {
  width: 690px;
  height: 286px;
  margin-left: -1px;
}

.container .container_inner .column_left .theme_news .contents .top > a h3 {
  width: 40%;
  line-height: 1.6;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 58%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container .container_inner .column_left .theme_news .contents .top > a h3:hover {
  text-decoration: underline;
}

.container .container_inner .column_left .theme_news .contents .top > a:before {
  content: '';
  width: 45%;
  height: 286px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -1px;
}

.container .container_inner .column_left .theme_news .contents .top ul {
  display: table;
  margin: 10px auto 0;
}

.container .container_inner .column_left .theme_news .contents .top ul li {
  float: left;
  width: 137px;
  margin-right: 20px;
}

.container .container_inner .column_left .theme_news .contents .top ul li img {
  display: block;
  margin: auto;
  width: 137px;
  height: 85px;
}

.container .container_inner .column_left .theme_news .contents .top ul li span {
  display: block;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container .container_inner .column_left .theme_news .contents .top ul li:last-child {
  margin-right: 0;
}

.container .container_inner .column_left .theme_news .contents .top ul li:hover span {
  text-decoration: underline;
}

.container .container_inner .column_left .theme_news .contents .top ul li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5 ease-out;
  transition: all 0.5 ease-out;
}

.container .container_inner .column_left .theme_news .contents .bottom {
  margin: 30px 0 20px;
  overflow: hidden;
}

.container .container_inner .column_left .theme_news .contents .bottom .left {
  margin-right: 20px;
}

.container .container_inner .column_left .theme_news .contents .bottom div {
  float: left;
  width: 304px;
  margin: 0 20px;
}

.container .container_inner .column_left .theme_news .contents .bottom div ul li {
  padding: 7px;
  border-bottom: 1px solid #dee3eb;
}

.container .container_inner .column_left .theme_news .contents .bottom div ul li a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  font-size: 15px;
}

.container .container_inner .column_left .theme_news .contents .bottom div ul li:hover a {
  text-decoration: underline;
}

.container .container_inner .column_left .ad {
  width: 690px;
  height: 95px;
}

.container .container_inner .column_left .recommend {
  width: 690px;
  padding: 15px;
  border: 1px solid #dee3eb;
  background-color: #fff;
  overflow: hidden;
}

.container .container_inner .column_left .recommend h2 {
  margin: 0 15px 5px 0;
  color: #4070ff;
  font-size: 20px;
  font-weight: bold;
}

.container .container_inner .column_left .recommend ul li {
  margin: 20px 0;
  overflow: hidden;
}

.container .container_inner .column_left .recommend ul li a div {
  float: left;
}

.container .container_inner .column_left .recommend ul li a .img {
  width: 137px;
  height: 85px;
  background-position: 50% 50%;
  background-size: cover;
}

.container .container_inner .column_left .recommend ul li a .text {
  width: 511px;
  margin-left: 10px;
}

.container .container_inner .column_left .recommend ul li a .text .headline {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
}

.container .container_inner .column_left .recommend ul li a .text .article {
  max-height: 33px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #666;
  font-size: 14px;
  overflow: hidden;
}

.container .container_inner .column_left .recommend ul li a .text .publishing {
  color: #999;
  font-size: 12px;
}

.container .container_inner .column_left .recommend ul li a:hover .article {
  text-decoration: underline;
}

.container .container_inner .column_left .recommend ul li a:hover .headline {
  color: #4070ff;
}

.container .container_inner .column_right {
  float: left;
  margin-left: 10px;
}

.container .container_inner .column_right .subject {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #dee3eb;
  position: relative;
}

.container .container_inner .column_right .subject > ul {
  width: 100%;
}

.container .container_inner .column_right .subject > ul > li {
  float: left;
  width: 33.3%;
  height: 50px;
  border-bottom: 1px solid #f1f3f6;
  border-right: 1px solid #f1f3f6;
}

.container .container_inner .column_right .subject > ul > li > a {
  display: block;
  height: 50px;
  text-align: center;
}

.container .container_inner .column_right .subject > ul > li > a > span {
  line-height: 46px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.container .container_inner .column_right .subject > ul > li .sub_subject {
  display: none;
  width: 55%;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -165px;
}

.container .container_inner .column_right .subject > ul > li .sub_subject li {
  padding: 10px;
}

.container .container_inner .column_right .subject > ul > li:nth-child(3n+0) {
  border-right: none;
}

.container .container_inner .column_right .login {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dee3eb;
}

.container .container_inner .column_right .login input[type='text'] {
  width: 200px;
  padding: 6px;
  background-color: #f1f3f6;
}

.container .container_inner .column_right .login button {
  margin-left: 5px;
  padding: 6px;
  text-align: center;
  background-color: #4070ff;
  color: #fff;
}

.container .container_inner .column_right .login ul {
  display: table;
  margin: auto;
  margin-top: 5px;
}

.container .container_inner .column_right .login ul li {
  float: left;
  margin-right: 15px;
  position: relative;
}

.container .container_inner .column_right .login ul li a {
  color: #999;
  font-size: 11px;
}

.container .container_inner .column_right .login ul li a:hover {
  color: #4070ff;
}

.container .container_inner .column_right .login ul li:first-child:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  top: 2px;
  right: -8px;
}

.container .container_inner .column_right .ad {
  width: 300px;
  height: 185px;
}

.container .container_inner .column_right .trending {
  width: 300px;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dee3eb;
}

.container .container_inner .column_right .trending h2 {
  margin-bottom: 15px;
  font-weight: bold;
}

.container .container_inner .column_right .trending ul li {
  margin-left: 15px;
  margin-bottom: 5px;
}

.container .container_inner .column_right .trending ul li a .num {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  background: #4070ff;
  color: #fff;
  font-size: 14px;
}

.container .container_inner .column_right .trending ul li a:hover {
  text-decoration: underline;
}

.container .container_inner .column_right .trending ul li:last-child {
  margin-bottom: 0;
}

.container .container_inner .ad {
  margin: 10px 0;
  border: 1px solid #dee3eb;
  background-color: #fff;
  font-size: 13px;
  overflow: hidden;
  position: relative;
}

.container .container_inner .ad img {
  width: 100%;
}

.footer {
  height: 100px;
  border-top: 1px solid #dee3eb;
  overflow: hidden;
}

.footer .footer_inner {
  width: 1000px;
  margin: auto;
}

.footer .footer_inner ul {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
}

.footer .footer_inner ul li {
  float: left;
  margin-right: 20px;
  position: relative;
}

.footer .footer_inner ul li a {
  font-size: 13px;
}

.footer .footer_inner ul li a:hover {
  text-decoration: underline;
}

.footer .footer_inner ul li:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  right: -10px;
}

.footer .footer_inner ul li:last-child:before {
  display: none;
}

/*공통*/
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ad:before {
  content: 'AD';
  padding: 5px;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.current {
  display: inherit;
  background-color: #333 !important;
}

.current a {
  color: #4070ff;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */